h1{
	background: #ccc;
	color: rgba(100,102,101, .5);
	float: left;
	padding: 30px;
	width: 300px;
	text-align: center;
	
}

h2{
	float: left;
	text-align: left;
	font-family: Arial;
	text-decoration: none;
	font-weight: normal;
	font-size: 10px;
	position: absolute;
	top: 10px;
	left:-143px;
	margin: 155px;
	
}
body{
	background: #e6e6e6;
}
p {
	background: #528FD5;
	overflow:hidden;

}

footer{
	background: #000;
	color: #fff;
	clear: both;
	padding: 10px;
	text-align: center;

 
}